# default ownership - platform team
* @sadhal-org/k8s-platform-team

/dev/**/aimlinfra/*.values.yaml @sadhal-org/aimlinfra-team
/dev/**/ipapcip/*.values.yaml @sadhal-org/ipapcip-team
/dev/**/itom/*.values.yaml @sadhal-org/itom-team

/test/**/aimlinfra/*.values.yaml @sadhal-org/aimlinfra-team
/test/**/ipapcip/*.values.yaml @sadhal-org/ipapcip-team
/test/**/itom/*.values.yaml @sadhal-org/itom-team

/prod/**/**/*.values.yaml @sadhal-org/k8s-sre-team
